@use '../generic/variables.scss' as *;

input[type='checkbox'] {
  width: 32px;
  height: 32px;
  background: rgba(244, 248, 245, 1);
  border: 2px solid var(--Grey, rgba(217, 217, 217, 1));
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 6px;

  &:checked {
    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.subscribe-form {
  .flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    @include desktop {
      flex-direction: row;
    }

    input {
      padding: 16px 48px;
      border-radius: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #141F1B;
      @include desktop {
        padding: 18px 50px;
        font-size: 20px;
        flex: 1;
      }
      &:focus,
      &:focus-visible,
      &:active {
        outline: none;
        border-color: inherit;
        box-shadow: none;
      }
      &::placeholder {
        color: #141F1B;
      }
    }

    input[type='text'] {
      background-image: url(../img/user.svg);
      background-repeat: no-repeat;
      background-position: 16px center;
      border: 2px solid #459179;
    }

    input[type='email'] {
      background-image: url(../img/envelope.svg);
      background-repeat: no-repeat;
      background-position: 16px center;
      border: 2px solid #9B9B9B;
    }

    button[type='submit'] {
      background-color: $primaryColor;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      text-align: center;
      color: #fff;
      text-decoration: none;
      padding: 14px 0;
      border: none;
      border-radius: 12px;
      width: 100%;
      @include desktop {
        width: 151px;
        font-size: 24px;
      }
    }
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0 15px;
    @include desktop {
      justify-content: center;
    }
    input[type='checkbox'] {
      width: 23px;
      height: 23px;
      border-radius: 8px;
      margin-right: 0;
    }

    label {
      flex: 1;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.02em;
      @include desktop {
        flex: none;
        font-size: 12px;
      }
      a {
        color: #000;
      }
    }
  }
}