@use 'generic/variables.scss' as *;

input[type='range'] {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
  @include desktop {
    height: 15px;
  }

  // Track styles - WebKit (Chrome, Safari)
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right,
        $primaryColor 0%,
        $primaryColor var(--range-progress, 50%),
        #d9d9d9 var(--range-progress, 50%),
        #d9d9d9 100%);
    border-radius: 4px;
    @include desktop {
      height: 15px;
      border-radius: 20px;
    }
  }

  // Track styles - Firefox
  &::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
    @include desktop {
      height: 15px;
    }
  }

  // Filled area for Firefox
  &::-moz-range-progress {
    background: $primaryColor;
    height: 8px;
    border-radius: 4px;
    @include desktop {
      height: 15px;
    }
  }

  // Track styles - IE/Edge
  &::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
    @include desktop {
      height: 15px;
    }
  }

  // Filled area for IE/Edge
  &::-ms-fill-lower {
    background: $primaryColor;
    border-radius: 4px;
  }

  &::-ms-fill-upper {
    background: #d9d9d9;
    border-radius: 4px;
  }

  // Thumb (button) styles - WebKit
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: $primaryColor;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -12px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 4px 0px #00000040;
    @include desktop {
      height: 39px;
      width: 39px;
    }
  }

  // Thumb (button) styles - Firefox
  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: $primaryColor;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px #00000040;
    @include desktop {
      height: 39px;
      width: 39px;
    }
  }

  // Thumb (button) styles - IE/Edge
  &::-ms-thumb {
    width: 32px;
    height: 32px;
    background: $primaryColor;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #00000040;
    @include desktop {
      height: 39px;
      width: 39px;
    }
  }
}