// Variables
// $fontFamily: "Montserrat";
// $mw1: 325;
// $mw2: 770;
// $mw3: 996;
// $generalColor: #3683dd;
// $secondaryColor: #FF5151;

$primaryColor: #0c1a3c;

// variables.scss
$bp-desktop: 1240px;

@mixin desktop {
  @media screen and (min-width: $bp-desktop) {
    @content;
  }
}