// Variables
// $fontFamily: "Montserrat";
// $mw1: 325;
// $mw2: 770;
// $mw3: 996;
// $generalColor: #3683dd;
// $secondaryColor: #FF5151;
$laptopWidth: 1203px;
$desctopWidth: 1440px;
$largeDesctopWidth: 1920px;
