<div class="resume-container">
  <section class="resume skin-cascade">
    <div class="resume-wrapper">
      <div class="left-box">
        <div class="user-photo">
          <img src="../img/img_avatar.png" alt="">
        </div>
        <div class="left-box__section user-title">
          <div class="user-name">
            <span id="name">Andrew</span> <span id="surname">Davyda</span>
          </div>
          <div class="birth">13.12.1981</div>
          <div class="resume-title">Project manager</div>
        </div>
        <div class="left-box__section resume-contact">
          <div class="title">Contact</div>
          <div class="contact-item">
            <div class="contact-item__title">Address</div>
            <div id="city">Kyiv</div>
          </div>
          <div class="contact-item">
            <div class="contact-item__title">Phone</div>
            <div id="phone">+38000000000</div>
          </div>
          <div class="contact-item">
            <div class="contact-item__title">E-mail</div>
            <div id="email">test1test.test</div>
          </div>
          <div class="contact-item">
            <div class="contact-item__title">Skype</div>
            <div id="skype"><a href="skype:andrew_davyda?chat" target="_blank" rel="nofollow">andrew_davyda</a></div>
          </div>
        </div>
        <div class="left-box__section resume-portfolios">
          <div class="title">Websites, Portfolios, Profiles</div>
          <ul id="links">
            <li><a href="https://ua.trud.com">https://ua.trud.com</a></li>
            <li><a href="https://ua.trud.com">https://ua.trud.com</a></li>
            <li><a href="https://ua.trud.com">https://ua.trud.com</a></li>
          </ul>
        </div>
        <div class="left-box__section skills">
          <div class="title">Skills</div>
          <div class="skills-item">
            <div class="skills-item__title">Lean manufacturing and design</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">Lean manufacturing and design</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">Lean manufacturing and design</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">Lean manufacturing and design</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">Lean manufacturing and design</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
        </div>
        <div class="left-box__section skills languages">
          <div class="title">Languages</div>
          <div class="skills-item">
            <div class="skills-item__title">Ukrainian</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Excellent</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">Russian</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">Very good</div>
          </div>
          <div class="skills-item">
            <div class="skills-item__title">English</div>
            <div class="progress-bar-wrapper"><div class="progress-bar" style="width: 75%;"></div></div>
            <div class="progress-name">good</div>
          </div>
        </div>
      </div>
      <div class="right-box">
        <div class="summary">
          Focused Project Manager adept at planning, directing and maintaining continuous operations in various
          departments.
          Experienced in directing manufacturing employees and keeping efficient production in accordance with quality
          standards. Applying creative and analytical approach to operations for continuous process improvement. Skilled
          at
          identifying or anticipating problems and providing solutions. Excels through mentoring, training and empowering
          team to excel in performance.
        </div>
        <div class="work-history">
          <div class="title">Work history</div>
          <div class="flex-box history-item">
            <div class="duration">2021-05 - Current</div>
            <div class="info">
              <div class="flex-title">Project Manager Price Comparison Site</div>
              <div class="company">Universal Commerce Group</div>
              <ul class="description">
                <li>Identified plans and resources required to meet project goals and objectivesflex-box history-item.
                </li>
                <li>Managed projects from procurement to commission.</li>
                <li>Met project deadlines without sacrificing build quality or workplace safety.</li>
                <li>Planned, designed, and scheduled phases for large projects.</li>
              </ul>
            </div>
          </div>
          <div class="flex-box history-item">
            <div class="duration">2021-05 - Current</div>
            <div class="info">
              <div class="flex-title">Project Manager Price Comparison Site</div>
              <div class="company">Universal Commerce Group</div>
              <ul class="description">
                <li>Identified plans and resources required to meet project goals and objectivesflex-box history-item.
                </li>
                <li>Managed projects from procurement to commission.</li>
                <li>Met project deadlines without sacrificing build quality or workplace safety.</li>
                <li>Planned, designed, and scheduled phases for large projects.</li>
              </ul>
            </div>
          </div>
          <div class="flex-box history-item">
            <div class="duration">2021-05 - Current</div>
            <div class="info">
              <div class="flex-title">Project Manager Price Comparison Site</div>
              <div class="company">Universal Commerce Group</div>
              <ul class="description">
                <li>Identified plans and resources required to meet project goals and objectivesflex-box history-item.
                </li>
                <li>Managed projects from procurement to commission.</li>
                <li>Met project deadlines without sacrificing build quality or workplace safety.</li>
                <li>Planned, designed, and scheduled phases for large projects.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="education">
          <div class="title">Education</div>
          <div class="flex-box education-item">
            <div class="duration">2005-09 - 2007-06</div>
            <div class="info">
              <div class="flex-title">Bachelor of Science: Business Economics</div>
              <div class="company">Education Economic University - Kyiv</div>
              <ul class="description">
                <li>Member of [Sfudenf Organization or Club Namel</li>
                <li>Member of [Honor's Society Name]</li>
                <li>Elected Captain of [Team]</li>
                <li>Completed professional development in [Subject]</li>
              </ul>
            </div>
          </div>
          <div class="flex-box education-item">
            <div class="duration">2005-09 - 2007-06</div>
            <div class="info">
              <div class="flex-title">Bachelor of Science: Business Economics</div>
              <div class="company">Education Economic University - Kyiv</div>
              <ul class="description">
                <li>Member of [Sfudenf Organization or Club Namel</li>
                <li>Member of [Honor's Society Name]</li>
                <li>Elected Captain of [Team]</li>
                <li>Completed professional development in [Subject]</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="certifications">
          <div class="title">Certifications</div>
          <div class="flex-box cert-item">
            <div class="duration">2005-09</div>
            <div class="text">CAPM - Certified Associate in Project Management</div>
          </div>
          <div class="flex-box cert-item">
            <div class="duration">2005-09</div>
            <div class="text">PMP - Project Management Professional</div>
          </div>
          <div class="flex-box cert-item">
            <div class="duration">2005-09</div>
            <div class="text">[Area of certification] Training - [Timeframe]</div>
          </div>
        </div>
        <div class="add-info">
          <div class="title">Additional Information</div>
          <div class="text">
            Business manager in e-commerce, strategy, operations. Key areas of expertise - BtoB, BtoC e-commerce models -
            strategy, project management, sales, startUps, marketing, mobile solutions. 13 years experience in big
            companies - Noosphere, Universal Commerce Group. Fluent in Ukrainian, Russian, Intermediate English.
            Result-oriented approach, can build motivated team and keep motivation on top level. Has experience on the
            markets with deep crisis - know how to act in such situation and what could be the solutions.
          </div>
        </div>
      </div>
    </div>
  </section>

</div>