<div class="category-wrapper" id="smartphones">
  <div class="container">
    <div class="category-heading"><img src="./img/mobile.png" alt="">
      <h3>Smartphones</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>
<div class="category-wrapper" id="laptop">
  <div class="container">
    <div class="category-heading"><img src="./img/laptop.png" alt="">
      <h3>Макбуки</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>
<div class="category-wrapper" id="tablets">
  <div class="container">
    <div class="category-heading"><img src="./img/tablet.png" alt="">
      <h3>Планшеты</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>
<div class="category-wrapper" id="consoles">
  <div class="container">
    <div class="category-heading"><img src="./img/console.png" alt="">
      <h3>Приставки</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html', 'disabled')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>
<div class="category-wrapper" id="headphones">
  <div class="container">
    <div class="category-heading"><img src="./img/mynaui_headphones.png" alt="">
      <h3>Наушники</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>
<div class="category-wrapper" id="smart-watch">
  <div class="container">
    <div class="category-heading"><img src="./img/smartwatch.png" alt="">
      <h3>Смарт часы</h3>
    </div>
    <div class="catalogue-wrapper">
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      @@include('item.html')
      <div class="more">
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
        @@include('item.html')
      </div>
    </div>
    <div class="more-button"><button class="cta-button" onClick="showMoreInCategory(event)">Показать все товары</button></div>
  </div>
</div>