<div class="menu-wrapper">
  <div class="header__menu mobile-menu">
      <ul class="header__menu-list">
        <li><a href="#">Pożyczka konsumencka</a></li>
        <li><a href="#">Pożyczka dla firm</a></li>
        <li><a href="#">O nas</a></li>
        <li><a href="#">Jak to działa?</a></li>
        <li><a href="#">Pytania i odpowiedzi</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Kontakty</a></li>
      </ul>
  </div>
</div>
<footer>
  <img src="./img/scroll-up.svg" alt="" class="scroll-up">
  <div class="container">
    <div class="footer-wrapper flex-box between">
      <div class="left">
        <img class="footer-logo" src="./img/logo-white.svg" alt="">
        <div class="flex-srtict">
          <div>
            <ul>
              <li><a href="">Pożyczka osobista</a></li>
              <li><a href="">Pożyczka przedsiębiorcza</a></li>
              <li><a href="">Pytania i odpowiedzi</a></li>
              <li><a href="">Jak to działa?</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><a href="">Polityka prywatności</a></li>
              <li><a href="">Polityka Cookies</a></li>
              <li><a href="">O nas</a></li>
              <li><a href="">Kontakty</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="contact">
          <div class="title">Biuro Obsługi Klienta</div>
          <div class="email-icon">
            <a href="mailto:info@ekassa.pl">info@ekassa.pl</a>
          </div>
          <div class="time">
            <div class="watch-icon">
              <div>Godziny pracy</div>
              <div>Pon.-Pt.</div>
              <div>9:00 - 18:00</div>
            </div>
          </div>
        </div>
        <div class="social">
          <a href="#"><img src="./img/fb.svg" alt=""></a>
          <a href="#"><img src="./img/x.svg" alt=""></a>
          <a href="#"><img src="./img/inst.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="subfooter container">
      <div class="copy">© 2023 Ekassa</div>
    </div>
  </div>
</footer>