<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="logo-social">
        <div class="logo"><img src="../img/zubau-white.png" alt=""></div>
        <div class="social">
          <a href="#"><img src="../img/facebook.svg" alt=""></a>
          <a href="#"><img src="../img/instagram.svg" alt=""></a>
        </div>
      </div>
      <div class="navigation">
        <div class="menu">
          <nav>
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Book Summaries</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </nav>
        </div>
        <div class="lang-switcher">
          <a href="">PL</a>
          <div class="vertical-line"></div>
          <a href="" class="active">ENG</a>
        </div>
      </div>
    </div>
    <div class="copy">© 2024, zubau. All Rights Reserved.</div>
  </div>
  <div class="promocode-form">
    <div class="promocode-wrapper">
      <img src="../img/close.png" class="close" onclick="showHidePopuup('.promocode-form', event, 'none')">
    <div class="title">Get free access to books</div>
    <p>Enter your promo code to start reading books</p>
    <form action="">
      <input type="text" name="" id="" required placeholder="Your promo code">
      <div class="error">Promo code is incorrect or does not exist. Please verify your promo code and try again.</div>
      <button type="submit" class="button blue">Start reading</button>
    </form>
    </div>
  </div>
</footer>