<header>
  <div class="header container">
    <div class="menu-icon"></div>
    <div class="logo"><img src="./img/logo.svg" alt=""></div>
    <div class="header__menu">
      <ul class="header__menu-list">
        <li><a href="#" class="active">Pożyczka osobista</a></li>
        <li><a href="#">Pożyczka przedsiębiorcza</a></li>
        <li><a href="#">EKASSA BIZNES+</a></li>
        <li><a href="#">Pytania i odpowiedzi</a></li>
      </ul>
    </div>
    <a href="" class="button">Logowanie</a>
  </div>
</header>