<header>
  <section class="cta">
    <div class="container">
      <div class="flex-row">
        <img src="./img/logo-small.jpg" class="mini-logo">
        <div class="text">
          <p><b>Some text bold</b></p>
          <p><span>some regular text</span></p>
        </div>
        <a class="button blue" href="">Click Me</a>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="header-wrapper">
        <img src="./img/logo.png" class="logo">
        <div class="flex-header">
          <a href="#" class="button green">Log in</a>
          <div class="menu">
            <nav>
              <ul>
                <li>Katalog</li>
                <li>O nas</li>
              </ul>
            </nav>
          </div>
          <img src="./img/burger.png" class="burger">
        </div>
      </div>
    </div>
  </section>
</header>