<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Zubau</title>
</head>

<body>
  <header>
    <div class="container header-container">
      <div class="header-wrapper">
        <div class="logo">
          <img src="../img/zubau.png" alt="">
        </div>
        <div class="navigation">
          <div class="burger-button">
            <img src="../img/burger.svg" alt="">
          </div>
          <div class="navigation-wrapper">
            <nav>
              <ul>
                <li><a href="">Book summaries</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
              </ul>
            </nav>
            <div class="lang-switcher">
              <a href="">PL</a>
              <div class="vertical-line"></div>
              <a href="" class="active">ENG</a>
            </div>
            <a href="" class="button blue" onclick="showHidePopuup('.promocode-form', event, 'block')"><img src="../img/percent.svg" alt="">Get free</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <nav>
        <ul>
          <li><a href="">Streszczenia książek</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Kontakt</a></li>
          <li><a href="">Polityka prywatności</a></li>
        </ul>
      </nav>
      <div class="lang-switcher">
        <a href="">PL</a>
        <div class="vertical-line"></div>
        <a href="" class="active">ENG</a>
      </div>
      <a href="" class="button" onclick="showHidePopuup('.promocode-form', event, 'block')"><img src="../img/percent.svg" alt="">Get free</a>
    </div>
  </header>