<div class="item">
  <div class="img-wrapper">
    <img src="./img/iphone13_ 1.jpg">
    <div class="sold-out">Все арендовано</div>
  </div>
  <h3>Apple iPhone 13 128GB (Pink)</h3>
  <div class="description">Apple iPhone 13 128GB (Pink) 6.7" OLED Super Retina XDR, Triple Rückkamera, 8GB RAM, Apple
    A17 Pro, 5G</div>
  <div class="price">od <span class="regular-price">191.90 zł</span> <span class="discount-price">45.00 zł</span> / msc.</div>
  <a href="" class="button green buy">subskrybuj</a>
</div>