<div class="offer-wrapper">
  <div class="logo-wrapper">
    <img src="../img/miloan.png" alt="">
    <div class="offer-description">Pożyczka na mieszkanie</div>
  </div>
  <div class="flex amount">
    <div class="title">Kwota pożyczki</div>
    <div class="content">15 000 <span>zł</span><br> <small>MAX. 25 000 zł</small></div>
  </div>
  <div class="flex period">
    <div class="title">Okres pożyczki</div>
    <div class="content">12 <span>miesięcy</span><br> <small>MAX. 70 dni</small></div>
  </div>
  <div class="flex rrso">
    <div class="title">RRSO</div>
    <div class="content">3%</div>
  </div>
  <div class="flex approval">
    <div class="title">Zatwierdzenie</div>
    <div class="content">88%</div>
  </div>
  <div class="flex rating">
    <div class="title">Ocena</div>
    <div class="content">
      <div class="rating-stars">
        <img src="../img/star.svg" alt="">
        <img src="../img/star.svg" alt="">
        <img src="../img/star.svg" alt="">
        <img src="../img/star.svg" alt="">
        <img src="../img/star.svg" alt="">
      </div>
      <b>5/5</b>
    </div>
  </div>
  <div class="links">
    <a href="" class="button">Weź pożyczkę</a>
    <a href="">Szczegóły oferty</a>
  </div>
</div>