<section class="personal categories-slider" id="personal">
  <div class="container">
    <h2 class="categorie-title"><b>Personal Growth</b> <br class="hide-desctop"> Book</h2>
  </div>
  <div class="slider-wrapper">
    <div class="slider-body">
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item active">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="titles-item">
            <img src="../img/title1.png" alt="">
            <div class="title">Atomic Habits</div>
            <div class="author">MJ DeMarko</div>
            <a href="" class="button blue">Read book</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-controls">
    <img src="./img/slider-arrow.svg" data-control="left">
    <img src="./img/slider-arrow-right.svg" data-control="right">
  </div>
  <div class="control-status" id="control-status"></div>
</section>