<section class="read-also" id="read-also">
  <div class="slider-header">
    <div class="slider-title">Read also</div>
    <div class="slider-controls">
      <img src="./img/slider-arrow.svg" data-control="left">
      <img src="./img/slider-arrow-right.svg" data-control="right">
    </div>
  </div>
  <div class="slider-wrapper">
    <div class="slider-body">
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="book-wrapper">
            <div class="img-wrapper">
              <img src="../img/book-info.png" alt="">
            </div>
            <div class="book-data">
              <div>
                <div class="book-categorie">Finance</div>
                <div class="book-title">Rich dad poor dad. What the rich...</div>
                <div class="author">Robert T.Kiyosaki</div>
              </div>
              <div class="time-to-read"><img src="../img/read-outlined.svg" alt="">100 min</div>
            </div>
            <div class="description">
              <p>Is a personal finance classic that has influenced millions of readers worldwide. The book tells the story of Kiyosaki's upbringing with two father figures: his biological father...<a href="">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="book-wrapper">
            <div class="img-wrapper">
              <img src="../img/book-info.png" alt="">
            </div>
            <div class="book-data">
              <div>
                <div class="book-categorie">Finance</div>
                <div class="book-title">Rich dad poor dad. What the rich...</div>
                <div class="author">Robert T.Kiyosaki</div>
              </div>
              <div class="time-to-read"><img src="../img/read-outlined.svg" alt="">100 min</div>
            </div>
            <div class="description">
              <p>Is a personal finance classic that has influenced millions of readers worldwide. The book tells the story of Kiyosaki's upbringing with two father figures: his biological father...<a href="">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item active">
        <div class="slider-item__body">
          <div class="book-wrapper">
            <div class="img-wrapper">
              <img src="../img/book-info.png" alt="">
            </div>
            <div class="book-data">
              <div>
                <div class="book-categorie">Finance</div>
                <div class="book-title">Rich dad poor dad. What the rich...</div>
                <div class="author">Robert T.Kiyosaki</div>
              </div>
              <div class="time-to-read"><img src="../img/read-outlined.svg" alt="">100 min</div>
            </div>
            <div class="description">
              <p>Is a personal finance classic that has influenced millions of readers worldwide. The book tells the story of Kiyosaki's upbringing with two father figures: his biological father...<a href="">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="book-wrapper">
            <div class="img-wrapper">
              <img src="../img/book-info.png" alt="">
            </div>
            <div class="book-data">
              <div>
                <div class="book-categorie">Finance</div>
                <div class="book-title">Rich dad poor dad. What the rich...</div>
                <div class="author">Robert T.Kiyosaki</div>
              </div>
              <div class="time-to-read"><img src="../img/read-outlined.svg" alt="">100 min</div>
            </div>
            <div class="description">
              <p>Is a personal finance classic that has influenced millions of readers worldwide. The book tells the story of Kiyosaki's upbringing with two father figures: his biological father...<a href="">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="book-wrapper">
            <div class="img-wrapper">
              <img src="../img/book-info.png" alt="">
            </div>
            <div class="book-data">
              <div>
                <div class="book-categorie">Finance</div>
                <div class="book-title">Rich dad poor dad. What the rich...</div>
                <div class="author">Robert T.Kiyosaki</div>
              </div>
              <div class="time-to-read"><img src="../img/read-outlined.svg" alt="">100 min</div>
            </div>
            <div class="description">
              <p>Is a personal finance classic that has influenced millions of readers worldwide. The book tells the story of Kiyosaki's upbringing with two father figures: his biological father...<a href="">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-status" id="control-status"></div>
</section>