<section class="reviews" id="reviews">
  <div class="container">
  </div>
  <div class="slider-wrapper">
    <div class="slider-body">
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="review-wrapper">
            <div class="avatar">
              <img src="../img/avatar.png" alt="">
            </div>
            <div class="review-body">
              <div class="review-header">Jim Collins</div>
              <div class="date">08.07.2024</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Sed rhoncus ipsum quisque lectus eget orci diam purus. Ut nunc enim varius non faucibus. Nascetur sodales euismod habitasse at sollicitudin tortor</p>
            <div class="city">Warsaw, Poland</div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="review-wrapper">
            <div class="avatar">
              <img src="../img/avatar.png" alt="">
            </div>
            <div class="review-body">
              <div class="review-header">Jim Collins</div>
              <div class="date">08.07.2024</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Sed rhoncus ipsum quisque lectus eget orci diam purus. Ut nunc enim varius non faucibus. Nascetur sodales euismod habitasse at sollicitudin tortor</p>
            <div class="city">Warsaw, Poland</div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="review-wrapper">
            <div class="avatar">
              <img src="../img/avatar.png" alt="">
            </div>
            <div class="review-body">
              <div class="review-header">Jim Collins</div>
              <div class="date">08.07.2024</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Sed rhoncus ipsum quisque lectus eget orci diam purus. Ut nunc enim varius non faucibus. Nascetur sodales euismod habitasse at sollicitudin tortor</p>
            <div class="city">Warsaw, Poland</div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="review-wrapper">
            <div class="avatar">
              <img src="../img/avatar.png" alt="">
            </div>
            <div class="review-body">
              <div class="review-header">Jim Collins</div>
              <div class="date">08.07.2024</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Sed rhoncus ipsum quisque lectus eget orci diam purus. Ut nunc enim varius non faucibus. Nascetur sodales euismod habitasse at sollicitudin tortor</p>
            <div class="city">Warsaw, Poland</div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-item__body">
          <div class="review-wrapper">
            <div class="avatar">
              <img src="../img/avatar.png" alt="">
            </div>
            <div class="review-body">
              <div class="review-header">Jim Collins</div>
              <div class="date">08.07.2024</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Sed rhoncus ipsum quisque lectus eget orci diam purus. Ut nunc enim varius non faucibus. Nascetur sodales euismod habitasse at sollicitudin tortor</p>
            <div class="city">Warsaw, Poland</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-controls">
    <img src="./img/slider-arrow.svg" data-control="left">
    <img src="./img/slider-arrow-right.svg" data-control="right">
  </div>
</section>