<section class="reviews slider">
  <h2>Opinie klientów</h2>
  <div class="slider-wrapper">
    <div class="slider-body" id="reviews">
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item active">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
      <div class="review-item">
        <div class="slider-item__body">
          <div class="review-header">
            <div class="flex-box">
              <div class="avatar">MO</div>
              <div>
                <div class="name">Monika</div>
                <div class="rez">9 recenzji</div>
              </div>
            </div>
            <hr class="grey">
            <div class="between">
              <div class="stars">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
                <img src="./img/star.svg" alt="">
              </div>
              <div class="date">03.01.2023</div>
            </div>
          </div>
          <div class="review-text">
            <div class="rev-title"><b>Dziękuję! Naprawdę...</b></div>
            Dziękuję! Naprawdę otrzymałam pieniądze szybko w ciągu kilku godzin, bez zbędnych dokumentów, w 15 minut!
            Polecam!!!!!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review-control hide-mobile" id="slider-controls">
    <img src="./img/arrow-left.svg" data-control="left">
    <img src="./img/arrow-right.svg" data-control="right">
  </div>
  <div class="control-status hide-desctop" id="control-status">
  </div>
  <div class="center container"><a href="#" class="cta-button">Weź pożyczkę</a></div>
  <div class="colored-bg"></div>
</section>