<div class="templates-wrapper">
  <div class="templates-scrol">
    <div class="template-item">
      <a href="" data-item="basic" class="active"><img src="../img/cascade.png" alt=""></a>
      <div class="template-name">Basic</div>
    </div>
    <div class="template-item">
      <a href="" data-item="cascade"><img src="../img/cascade.png" alt=""></a>
      <div class="template-name">Cascade</div>
    </div>
    <div class="template-item">
      <a href="" data-item="cubic"><img src="../img/cubic.png" alt=""></a>
      <div class="template-name">Cybic</div>
    </div>
    <div class="template-item">
      <a href="" data-item="diamond"><img src="../img/diamond.png" alt=""></a>
      <div class="template-name">Diamond</div>
    </div>
    <div class="template-item">
      <a href="" data-item="modern"><img src="../img/modern.png" alt=""></a>
      <div class="template-name">Modern</div>
    </div>
    <div class="template-item">
      <a href="" data-item="primo"><img src="../img/primo.png" alt=""></a>
      <div class="template-name">Primo</div>
    </div>
  </div>
</div>