.buttons-wrapper {
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  column-gap: 9px;
  margin-bottom: 13px;

  @media screen and (min-width: $laptopWidth) {
    margin-top: 110px;
    gap: 15px;
    margin-bottom: 32px;
  }

  a {
    color: rgba(133, 102, 255, 1);
    border: 1px solid rgba(133, 102, 255, 1);
    border-radius: 5px;
    padding: 9.5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    
    @media screen and (min-width: $laptopWidth) {
      border: 2px solid rgba(133, 102, 255, 1);
      text-transform: uppercase;
      min-width: 184px;
      font-size: 16px;
      padding: 10px 15px;
    }

    &.highlighted {
      background: rgba(133, 108, 247, 1);
      color: #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 9.5px;

      @media screen and (min-width: $laptopWidth) {
        border-radius: 50px;
      }
    }
  }
}

.bikfish-wrapper {
  background-color: #fff;
  padding-top: 15px;
  @media screen and (min-width: $laptopWidth) {
    padding: 40px;
  }
  h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32.2px;
    margin-bottom: 10px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 46px;
      line-height: 58.18px;
      margin-bottom: 12px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 128%;
    margin-bottom: 22px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 28px;
      line-height: 133%;
      margin-bottom: 56px;
    }
    span {
      color: rgba(133, 102, 255, 1);

    }
  }

  .scor-wrapper {
    background-color: rgba(247, 247, 247, 1);
    padding: 33px 13px;
    position: relative;
    margin-bottom: 30px;
    @media screen and (min-width: $laptopWidth) {
      padding: 54px 58px;
      margin-bottom: 86px;
      .flex-box {
        justify-content: space-between;
      }
    }

    .flex-box {
      margin-bottom: 27px;
    }

    .popup {
      position: absolute;
      top: 35%;
      border: 1.8px solid #fff;
      backdrop-filter: blur(50px);
      box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
      padding: 26px 20px;
      border-radius: 18px;
      @media screen and (min-width: $laptopWidth) {
        left: 50%;
        transform: translate(-50%, 0);
        width: 426px;
        padding: 27px;
      }
      .title {
        background-color: #fff;
        color: #8566FF;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 15px 18px;
        border-radius: 10px;
        margin-bottom: 18px;
        font-size: 16px;
        font-weight: 600;
        @media screen and (min-width: $laptopWidth) {
          font-size: 22px;
          letter-spacing: 0;
        }
      }

      .center {
        color: rgba(75, 75, 75, 1);
        font-size: 18px;
        line-height: 26px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
  }

  .icons-slider {
    margin-bottom: 32px;

    .icons-viewport {
      overflow: hidden;
      width: 100%;
    }

    .icons-track {
      display: flex;
      width: 100%;
      gap: 31px;
      will-change: transform;
      transition: transform 300ms ease;
    }

    .icons-item {
      min-width: 78%;
      display: flex;
      align-items: center;
      gap: 13px;
      padding: 6px 0;
      @media screen and (min-width: $laptopWidth) {
        gap: 25px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        @media screen and (min-width: $laptopWidth) {
          font-weight: 500;
          font-size: 24px;
          line-height: 34px;
          letter-spacing: 0;
        }
      }

      b {
        font-weight: 600;
      }
    }

    @media screen and (min-width: $laptopWidth) {
      .icons-viewport {
        overflow: visible;
        margin-bottom: 86px;
      }

      .icons-track {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 12px 16px;
        transform: none !important;
        gap: 61px;
      }

      .icons-item {
        min-width: auto;
      }

      .icons-dots {
        display: none;
      }
    }
  }

  .button-wrapper {
    padding: 0 13px;
  }

  .button {
    text-decoration: none;
    background: #8566FF;
    color: #fff;
    padding: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    img {
      width: 20px;
    }
    @media screen and (min-width: $laptopWidth) {
      min-width: 613px;
      margin: auto;
      width: fit-content;
      font-size: 30px;
      img {
        width: 39px;
      }
    }

    &.bordered {
      background: #fff;
      color: #8566FF;
      border: 1px solid #8566FF;
      font-weight: 500;
      font-size: 13px;
      margin-bottom: 28px;
      @media screen and (min-width: $laptopWidth) {
        font-size: 30px;
        margin-bottom: 103px;
      }
    }
  }
}
