.skin-cubic {
  color: var(--main-color);
  a {
    color: #343434;
  }
  .top-box {
    height: 130px;
    padding: 15px 15px 20px;
  }
  .resume-wrapper {
    flex-direction: row-reverse;
    img {
      margin-bottom: 20px;
    }
    .left-box {
      background: #f4f4f4;
      color: #343434;
      padding: 15px;
      .left-box__section {
        .title {
          color: var(--main-color);
          font-weight: 700;
          border-bottom: 1px solid #cacaca;
          padding: 3px 0;
          margin-left: unset;
          margin-right: unset;
          &::before {
            content: none;
          }
        }
      }
      .skills {
        .skills-item {
          .progress-dots-wrapper {
            height: 14px;
            text-align: right;
            svg {
              height: inherit;
              .default-fill {
                fill: var(--main-color);
              }
            }
          }
          .progress-name {
            margin-top: 5px;
          }
        }
      }
    }
    .right-box {
      color: #343434;
      .title {
        color: var(--main-color);
      }
      .flex-box {
        .duration {
          font-weight: 700;
        }
      }
    }
  }
}