.buttons-wrapper {
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 9px;
  margin-bottom: 13px;
  @media screen and (min-width: $laptopWidth) {
    margin-top: 110px;
    gap: 32px;
    margin-bottom: 32px;
  }
  a {
    border-radius: 5px;
    color: #a8a6a6;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    @media screen and (min-width: $laptopWidth) {
      font-size: 16px;
      padding: 9.5px 27px;
    }
    &.highlighted {
      background-color: #3aa742;
      color: #fff;
      border-radius: 50px;
    }
    &.new {
      position: relative;
      margin-left: 15px;
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -12px;
        background-image: url(../img/icons/new.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        @media screen and (min-width: $laptopWidth) {
          width: 40px;
          height: 40px;
          top: -20px;
          left: -20px;
        }
      }
    }
  }
}

.invite-friend {
  margin-bottom: 104px;
  .invite-friend_flex {
    gap: 48px;
    align-items: start;
  }
}

.invitation {
  box-shadow: 0px 4px 21px 0px #8566ff17;
  background-color: #fff;
  border-radius: 10px;
  padding: 11px 9px;
  @media screen and (min-width: $laptopWidth) {
    padding: 29px 49px 52px;
  }
  h2 {
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    @media screen and (min-width: $laptopWidth) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 19px;
    }
  }
  p {
    font-size: 15px;
    margin-bottom: 12px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 36px;
    }
  }
  .progress {
    background-color: #f5f5f5;
    padding: 17px 15px;
    border-radius: 10px;
    @media screen and (min-width: $laptopWidth) {
      width: 352px;
      margin: auto;
      padding: 21px 17px 23px;
    }
    .progress-calc {
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      margin-bottom: 11px;
      @media screen and (min-width: $laptopWidth) {
        font-size: 16px;
        margin-bottom: 13px;
        padding: 0 9px;
      }
    }
    a {
      border-radius: 5px;
      background: #fd6d21;
      color: #fff;
      padding: 12px 10px;
      display: block;
      text-align: center;
      width: 100%;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 1px;
      @media screen and (min-width: $laptopWidth) {
        margin-top: 26px;
        font-size: 18px;
      }
    }
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 8px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 22px;
      margin-bottom: 26px;
    }
  }
}

.conditions {
  padding-top: 16px;
  @media screen and (min-width: $laptopWidth) {
    padding: 23px 67px 44px;
    border: 1px solid #8566ff;
    border-radius: 20px;
  }
  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 7px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 22px;
    }
  }
  .conditions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 24px;
    @media screen and (min-width: $laptopWidth) {
      gap: 20px;
      margin-bottom: 30px;
    }
    .conditions-item {
      display: flex;
      gap: 15px;
      align-items: center;
      img {
        width: 46px;
        height: 46px;
      }
    }
  }
  .button {
    background-color: #3aa742;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    padding: 12px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    @media screen and (min-width: $laptopWidth) {
      display: block;
      width: 327px;
      margin: auto;
      margin-bottom: 15px;
    }
  }
}

.share-wrapper {
  display: none;
  box-shadow: 4px 4px 13px 0px #39863f17;
  border-radius: 10px;
  @media screen and (min-width: $laptopWidth) {
    width: 327px;
    margin: auto;
  }
  .pd {
    padding: 15px 14px 22px;
  }
  .link-wrapper {
    position: relative;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      margin-bottom: 13px;
    }
    .copy-link {
      position: relative;
      background-color: #f5f5f5;
      padding: 10px 22px;
      padding-left: 48px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: 0;
      margin-bottom: 21px;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 22px;
        background-image: url(../img/icons/copy_light.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
      }
    }
    .copied {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #fff;
      padding: 10px;
      border: 1px solid #63b96a;
      border-radius: 5px;
    }
  }
  .mobile-share {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 17px;
    @media screen and (min-width: $laptopWidth) {
      display: none;
    }
  }
  .send-to {
    display: none;
    @media screen and (min-width: $laptopWidth) {
      display: block;
      position: relative;
      margin-bottom: 13px;
    }
    label {
      position: absolute;
      left: 12px;
      top: -10px;
      background-color: #fff;
      padding: 2px;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: #555e61;
    }
    input {
      border: 1.5px solid #c0c0c0;
      border-right: unset;
      border-radius: 4px 0 0 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.15px;
      padding: 10px 14px;
      flex: 1;
    }
    button {
      background-color: #63b96a;
      border: none;
      border-radius: 0 4px 4px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0;
      color: #ffffff;
      width: 105px;
    }
  }
  .info {
    display: none;
    position: relative;
    background-color: #f5f5f5;
    padding: 16px 25px;
    border-radius: 12px;
    @media screen and (min-width: $laptopWidth) {
      display: block;
    }
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      margin-bottom: 9px;
    }
    ol {
      padding-left: 16px;
      li {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 50%;
    }
  }
}
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000045;
  padding: 15px;
  padding-top: 150px;
  z-index: 3;
}
.qr-popup {
  position: relative;
  background: linear-gradient(112deg, #3ba742 63%, #a0db4e 97.54%);
  border-radius: 10px;
  padding: 20px 25px;
  text-align: center;
  .close {
    position: absolute;
    right: 0;
    top: -34px;
  }
  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 8px;
    span {
      text-decoration: underline;
    }
  }
  .subtitle {
    color: #fff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 18px;
  }
  .qr-wrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 225px;
    height: 225px;
    margin: auto;
    margin-bottom: 21px;
  }
  .logo {
    margin-bottom: 18px;
  }
  .share {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -67px;
      right: -4px;
      background-image: url(../img/icons/batty.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 61px;
      height: 71px;
    }
  }
}
