header {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 7%);
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  .menu-icon {
    background-image: url('../img/burger.svg');
    width: 24px;
    height: 26px;
  }
  .menu-icon.close {
    background-image: url('../img/close-menu.svg');
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    .header__menu {
      display: none;
      position: absolute;
      li {
        list-style: none;
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #01163e;
          text-decoration: none;
        }
      }
    }
  }
  .button {
    background: #f85459;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 12px 23px;
    border-radius: 4px;
  }
}

.menu-wrapper {
  display: none;
  background: #000000bf;
  position: fixed;
  width: 100vw;
  left: 0;
  height: 100vh;
  bottom: 0;
  z-index: 5;
  .header__menu {
    display: block;
    &.mobile-menu {
      position: fixed;
      background-color: #ffff;
      left: 0;
      width: 100vw;
      text-align: left;
      top: 57px;
      padding-left: 16px;
      .header__menu-list {
        margin-top: 17px;
        margin-bottom: 28px;
        li {
          list-style: none;
          margin-bottom: 13px;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #01163e;
            text-decoration: none;
            &.active {
              color: #f85459;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: $laptopWidth) {
  header {
    box-shadow: none;
    background: #fff;
    .header {
      padding: 18px 0;
      .menu-icon {
        display: none;
      }
      .header__menu {
        display: block;
        position: relative;
        .header__menu-list {
          display: flex;
          gap: 20px;
          li {
            list-style: none;
            a {
              font-family: Roboto;
              font-weight: 900;
              font-size: 14px;
              line-height: 17px;
              color: #01163e;
              text-decoration: none;
              text-transform: uppercase;
              &.active {
                color: #f85459;
                font-weight: 600;
              }
            }
          }
        }
      }
      .button {
        font-weight: 900;
        font-size: 18px;
        border-radius: 16px;
      }
    }
  }
}
