.top-banner {
  padding-top: 166px;
  background-image: url(../img/top-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    @media screen and (min-width: $desctopWidth) {
      font-size: 60px;
      line-height: 70px;
    }
    img {
      width: 22px;
      margin-right: 5px;
      @media screen and (min-width: $desctopWidth) {
        width: 40px;
        margin-right: 7px;
      }
    }
  }
  .cta {
    margin-bottom: 13px;
    @media screen and (min-width: $desctopWidth) {
      text-align: left;
      padding-top: 170px;
    }
  }
  .top-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: $desctopWidth) {
      flex-direction: row;
      justify-content: space-between;
    }
    .text {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 10px;
      @media screen and (min-width: $desctopWidth) {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 33px;
      }
    }
  }
}

.icons {
  margin-top: -350px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f4f4f4;
  z-index: 1;
  position: relative;
  border-radius: 30px 30px 0 0;
  @media screen and (min-width: $laptopWidth) {
    margin-top: -240px;
    padding-top: 80px;
    border-radius: 50px 50px 0 0;
  }
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 5px;
    @media screen and (min-width: $laptopWidth) {
      font-weight: 700;
      font-size: 42px;
      line-height: 53px;
      margin-bottom: 14px;
    }
    img {
      width: 18px;
      margin-right: 3px;
      @media screen and (min-width: $laptopWidth) {
        width: 27px;
      }
    }
  }
  .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    @media screen and (min-width: $laptopWidth) {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 82px;
    }
  }
  .icons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 26px;
    @media screen and (min-width: $laptopWidth) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 130px;
      margin-bottom: 52px;
    }
    .icons-item {
      @media screen and (min-width: $laptopWidth) {
        flex: 1 1 25%;
        max-width: 240px;
      }
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 7px;
        @media screen and (min-width: $laptopWidth) {
          width: 82px;
          height: 82px;
          margin-bottom: 27px;
        }
      }
      &__title {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $laptopWidth) {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          position: relative;
        }
        span {
          font-weight: 800;
          font-size: 14px;
          line-height: 28px;
          color: #f6565d;
          @media screen and (min-width: $laptopWidth) {
            position: absolute;
            top: 0;
            left: -40px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .center {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 20px;
      line-height: 30px;
    }
    a {
      margin-top: 16px;
      line-height: normal;
      padding-top: 7px;
      padding-bottom: 7px;
      @media screen and (min-width: $laptopWidth) {
        padding: 18px 15px;
      }
    }
  }
}

.target {
  background-image: url(../img/target.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 67px;
  @media screen and (min-width: $laptopWidth) {
    padding-top: 65px;
    padding-bottom: 85px;
    border-radius: 50px;
  }
  h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    @media screen and (min-width: $laptopWidth) {
      font-size: 42px;
      line-height: 53px;
      margin-bottom: 60px;
    }
  }
  .target-wrapper {
    @media screen and (min-width: $laptopWidth) {
      position: relative;
    }
    .target-img__wrapper {
      &.desktop {
        display: none;
        @media screen and (min-width: $laptopWidth) {
          display: block;
          img {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.5s;
            &.active {
              opacity: 1;
              transition: opacity 0.5s;
            }
          }
        }
      }
      &.mobile {
        display: flex;
        gap: 10px;
        margin-bottom: -20px;
        position: relative;
        left: 0;
        transition: left 0.5s;
        z-index: 1;
        @media screen and (min-width: $laptopWidth) {
          display: none;
        }
      }
    }
  }
  .target-icon__wrapper {
    display: flex;
    gap: 10px;
    width: calc((315px + 10px) * 6);
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: left 0.5s;
    @media screen and (min-width: $laptopWidth) {
      flex-direction: column;
      align-items: flex-end;
      gap: 0;
    }
    .target-icon__item {
      border: 1px solid #5e2af833;
      background-color: #fff;
      border-radius: 8px;
      width: 315px;
      text-align: center;
      padding: 40px 17px 9px;
      color: #323232;
      cursor: pointer;
      @media screen and (min-width: $laptopWidth) {
        background-color: unset;
        padding-top: 20px;
        padding-bottom: 20px;
        border: none;
        text-align: left;
        display: flex;
        gap: 18px;
        width: 497px;
        color: #fff;
        transition: all 0.2s;
        &:hover {
          background-color: #fff;
          transition: all 0.2s;
          color: #323232;
        }
      }
      img {
        padding: 10px;
        background: #f0f0f0;
        width: 40px;
        border-radius: 50%;
        overflow: visible;
        @media screen and (min-width: $laptopWidth) {
          height: 40px;
          object-fit: cover;
          flex-shrink: 0;
        }
      }
      .target-icon__title {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 20px;
        }
      }
      .target-icon__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  .status-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: $laptopWidth) {
      display: none;
    }
    .status-bar__item {
      width: 9px;
      height: 9px;
      background: #ffffff99;
      border-radius: 50%;
      &.active {
        background-color: #fff;
      }
    }
  }
}

.table {
  margin-bottom: 58px;
  @media screen and (min-width: $laptopWidth) {
    margin-bottom: 85px;
    .table-arrow {
      display: none;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 25px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 42px;
      line-height: 53px;
      margin-bottom: 52px;
      img {
        width: 28px;
      }
    }
  }
  .table-overflow {
    overflow-x: auto;
    margin-bottom: 38px;
  }
  .table-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    .table-row {
      display: flex;
      &.header {
        height: 71px;
        font-weight: 700;
        font-size: 14px;
        color: #323232;
        @media screen and (min-width: $laptopWidth) {
          height: 117px;
        }
        .table-cell {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e9e0ff;
          font-weight: 700;
          @media screen and (min-width: $laptopWidth) {
            font-size: 24px;
          }
          &:first-child {
            background-color: #ffffff;
            border: 1px solid #fff;
          }
          &:last-child {
            @media screen and (min-width: $laptopWidth) {
              border-top-right-radius: 50px;
            }
          }
          &.colored {
            border-radius: 20px 20px 0 0;
            @media screen and (min-width: $laptopWidth) {
              border-radius: 30px 30px 0 0;
              box-shadow: 20px 1px 14px 5px #00000021;
            }
          }
        }
      }
      .table-cell {
        flex: 1;
        width: 170px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-bottom: none;
        padding: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        @media screen and (min-width: $laptopWidth) {
          width: 280px;
          font-size: 18px;
          line-height: 24px;
          padding: 30px 10px;
        }
        &.colored {
          background-color: #856cfc;
          color: #fff;
        }
        &:first-child {
          position: sticky;
          left: 0;
          display: flex;
          align-items: center;
          text-align: left;
          justify-content: start;
          font-weight: 500;
          padding-left: 15px;
          @media screen and (min-width: $laptopWidth) {
            font-size: 20px;
            padding-left: 32px;
          }
        }
      }
      &:last-child {
        .table-cell {
          border-bottom: 1px solid #e0e0e0;
          &:first-child {
            border-bottom-left-radius: 8px;
            @media screen and (min-width: $laptopWidth) {
              border-bottom-left-radius: 50px;
            }
          }
          &:last-child {
            @media screen and (min-width: $laptopWidth) {
              border-bottom-right-radius: 50px;
            }
          }
          &.colored {
            border-radius: 0 0 20px 20px;
            @media screen and (min-width: $laptopWidth) {
              border-radius: 0 0 30px 30px;
            }
          }
        }
      }
      &:nth-child(2) {
        .table-cell {
          &:first-child {
            border-top-left-radius: 8px;
            @media screen and (min-width: $laptopWidth) {
              border-top-left-radius: 0;
            }
          }
        }
      }
    }
  }
}

.hiw {
  background-image: url(../img/hiw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @media screen and (min-width: $laptopWidth) {
    background-image: url(../img/hiw-d.jpg);
    background-position: center;
    padding-top: 67px;
    padding-bottom: 85px;
    border-radius: 50px;
  }
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (min-width: $laptopWidth) {
      font-weight: 700;
      font-size: 42px;
      line-height: 53px;
      margin-bottom: 50px;
      img {
        width: 28px;
        margin-right: 3px;
      }
    }
    span {
      color: #1e1e1e;
    }
  }
  .hiw-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    @media screen and (min-width: $laptopWidth) {
      flex-direction: row;
      justify-content: space-between;
      gap: 110px;
    }
    .hiw-item {
      text-align: center;
      color: #fff;
      img {
        padding: 10px;
        background: #f0f0f033;
        padding: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: visible;
        margin-bottom: 30px;
        @media screen and (min-width: $laptopWidth) {
          width: 144px;
          height: 144px;
          margin-bottom: 40px;
        }
      }
      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 53px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 20px;
          line-height: 27px;
          margin-bottom: 5px;
          text-align: left;
        }
      }
      &__text {
        font-family: Lato;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 18px;
          line-height: 24px;
          text-align: left;
        }
      }
    }
  }
}

.reviews {
  max-width: 100%;
  position: relative;
  background-color: #f0edfe;
  padding-top: 70px;
  margin-top: -20px;
  z-index: 0;
  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 23px;
    margin-bottom: 29px;
    padding-left: 16px;
  }
  .slider-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 265px;
    background-color: #f0edfe;
    @media screen and (min-width: $laptopWidth) {
      height: 271px;
      background-color: unset;
      padding: 15px;
    }
    .slider-body {
      margin-bottom: 19px;
      gap: 16px;
      position: absolute;
      display: flex;
      .review-item {
        height: 285px;
        max-width: 100vw;
        padding: 0 16px;
        position: absolute;
        left: 0;
        transition: all 0.5s;
        @media screen and (min-width: $laptopWidth) {
          padding: 0 58px;
        }
        .slider-item__body {
          width: 457px;
          padding: 11px 17px;
          padding-bottom: 16px;
          max-width: calc(100vw - 32px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: auto;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0px 0px 6px 0px #ebe9f4;
          .review-control {
            display: none;
          }
          .review-header {
            padding-bottom: 22px;
            .flex-box {
              gap: 17px;
              flex-direction: row;
              align-items: center;
            }
            .avatar {
              background-color: #fcdde5;
              width: 54px;
              height: 54px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              font-size: 19px;
              font-style: normal;
              font-weight: 800;
            }
            .date {
              font-weight: 500;
              font-size: 12px;
              line-height: 150%;
              color: #979797;
              @media screen and (min-width: $laptopWidth) {
                font-size: 16px;
              }
            }
            .name {
              font-weight: 700;
              font-size: 12px;
              line-height: 150%;
              color: #141232;
              @media screen and (min-width: $laptopWidth) {
                font-size: 18px;
              }
            }
            .rez {
              color: #979797;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              @media screen and (min-width: $laptopWidth) {
                font-size: 16px;
              }
            }
            hr.grey {
              border-top: 1px solid #c4c4c4;
            }
          }
          .review-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #222222;
            margin-top: -10px;
            height: inherit;
          }
        }
      }
    }
  }
  .control-status {
    display: flex;
    gap: 5px;
    justify-content: center;
    .control-status__item {
      width: 9px;
      height: 9px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      &.active {
        background: #8566ff;
      }
    }
  }
  .colored-bg {
    width: 100%;
    height: 189px;
    top: 60%;
    position: absolute;
    background-color: #f0edfe;
    z-index: -1;
    @media screen and (min-width: $laptopWidth) {
      top: 43%;
      height: 273px;
    }
  }
  .cta-button {
    display: none;
    @media screen and (min-width: $laptopWidth) {
      display: inline-block;
      width: 381px;
    }
  }
}

@media screen and (min-width: $laptopWidth) {
  .reviews {
    padding: 0;
    padding-top: 130px;
    padding-bottom: 48px;
    margin-bottom: 75px;
    h2 {
      font-size: 46px;
      line-height: 54px;
      margin-bottom: 75px;
    }
    .slider-controls {
      display: flex;
      justify-content: space-between;
      width: 400px;
      margin: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;
      img {
        cursor: pointer;
      }
    }
    .review-control.mob {
      display: none;
    }
    a {
      color: #f64d54;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      position: relative;
      z-index: 2;
    }
  }
}

.media {
  background-color: #f0edfe;
  padding-top: 20px;
  @media screen and (min-width: $laptopWidth) {
    background-color: unset;
  }
  h2 {
    color: #141232;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 20px;
    @media screen and (min-width: $laptopWidth) {
      font-size: 46px;
      margin-bottom: 59px;
    }
  }
  .slider-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 200px;
    max-width: 1145px;
    margin: auto;
    .slider-body {
      position: absolute;
      display: flex;
      height: 150px;
      overflow: hidden;
      @media screen and (min-width: $laptopWidth) {
        height: 177px;
        align-items: center;
      }
      .slider-item {
        padding: 0 10px;
        position: absolute;
        left: 0;
        transition: all 0.5s;
        @media screen and (min-width: $laptopWidth) {
          padding: 0 17.5px;
        }
        .slider-item__body {
          width: 200px;
          height: 104px;
          border-radius: 16px;
          background: #fff;
          box-shadow: 0px 4px 24px 0px #ebe9f4;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          @media screen and (min-width: $laptopWidth) {
            width: 252px;
            height: 131px;
          }
        }
      }
    }
  }
  .slider-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 1250px;
    margin: auto;
    position: relative;
    top: -150px;
    cursor: pointer;
    @media screen and (min-width: $laptopWidth) {
      top: -128px;
    }
    .control {
      width: 70px;
      background-color: purple;
      padding: 5px;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
  }
  .control-status {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: -71px;
    padding-bottom: 70px;
    @media screen and (min-width: $laptopWidth) {
      display: none;
    }
    .control-status__item {
      width: 9px;
      height: 9px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      &.active {
        background: #8566ff;
      }
    }
  }
}

.faq {
  background-image: url(../img/hiw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 104px;
  margin-bottom: -20px;
  padding-top: 17px;
  padding-bottom: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  @media screen and (min-width: $laptopWidth) {
    background-image: url(../img/faq.jpg);
    padding-top: 59px;
    border-radius: 50px;
    padding-bottom: 98px;
    margin-bottom: -47px;
  }
  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 28px;
    @media screen and (min-width: $laptopWidth) {
      font-weight: 700;
      font-size: 42px;
      line-height: 53px;
      margin-bottom: 50px;
    }
  }
  .faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;
    @media screen and (min-width: $laptopWidth) {
      max-width: 1068px;
      margin: auto;
      gap: 15px;
    }
    .accordion__item {
      background-color: #fff;
      border-radius: 10px;
      padding: 0 9px;
      overflow: hidden;
      height: 68px;
      cursor: pointer;
      .faq-item__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        height: 68px;
        display: flex;
        align-items: center;
        position: relative;
        @media screen and (min-width: $laptopWidth) {
          font-size: 20px;
          line-height: 25px;
          padding-left: 25px;
        }
        &::after {
          content: '';
          position: absolute;
          right: 14px;
          width: 20px;
          height: 11px;
          background-image: url(../img/acc-arrow.svg);
          background-repeat: no-repeat;
          background-size: cover;
          @media screen and (min-width: $laptopWidth) {
            right: 45px;
            width: 24px;
            height: 14px;
          }
        }
      }
      .faq-item__text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
        @media screen and (min-width: $laptopWidth) {
          font-size: 16px;
          line-height: 22px;
          padding-left: 25px;
        }
      }
      &.open {
        height: auto;
        .faq-item__title {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
