.top-banner {
  position: relative;
  padding-top: 60px;
  overflow: hidden;
  background-image: url(../img/top-mobile.png);
  background-repeat: no-repeat;
  background-position: 111px -110px;
  margin-bottom: 43px;

  h1 {
    padding-top: 123px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 27px;
  }
}

.why {
  margin-bottom: 70px;

  h2 {
    margin-bottom: 30px;
  }

  .icon-box {
    column-gap: 12px;
    display: flex;
    flex-wrap: wrap;

    .icon-item {
      width: 45%;
      padding-bottom: 22px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0%;

      img {
        margin-bottom: 12px;
      }
    }
  }

  .why-img {
    position: relative;

    img {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 198px;
      transform: rotate(-30.5deg);
      background-color: $mainColor;
      z-index: -1;
      border-radius: 30px;
      top: 22px;
    }
  }
}

.how-it-works {
  background-color: $mainColor;
  padding-top: 40px;
  padding-bottom: 58px;
  background-image: url(../img/ekassa.png);
  background-repeat: no-repeat;
  background-size: 149%;
  background-position: -83px 118%;

  h2 {
    color: #fff;
    margin-bottom: 33px;
  }

  .how-wrapper {
    display: flex;
    gap: 10px;

  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card-wrapper {
      display: flex;
      gap: 10px;

      .number {
        background-color: $mainColor;
        position: relative;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 162px;
          background-color: #fff;
          top: 34px;
        }
      }

      &:last-child {
        .number::after {
          content: none;
        }
      }

      .card-item {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 23px 27px;
        text-align: center;
        flex: 1;

        img {
          margin-bottom: 12px;
        }

        .text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;

          b {
            border-bottom: 2px solid $ctaColor;
          }
        }
      }
    }
  }
}

.target {
  padding-top: 45px;
  overflow: hidden;

  h2 {
    margin-bottom: 30px;
  }

  .target-wrapper {
    display: flex;
    gap: 15px;

    &__item {
      background-color: #F6F5FB;
      flex: 1 0 100%;
      text-align: center;
      padding: 34px 25px;

      img {
        margin-bottom: 23px;
      }

      .text {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
      }
    }
  }
}