.slider {
  position: relative;

  .slider-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 345px;

    .slider-body {
      position: absolute;
      display: flex;

      .slider-item {
        width: 380px;
        height: 344px;
        max-width: 100vw;
        padding: 20px 13px;
        position: absolute;
        left: 0;
        transition: all 0.5s;

        .slider-item__body {
          height: 100%;
          background-color: #F6F5FB;
          flex: 1 0 100%;
          text-align: center;
          padding: 34px 25px;
          border-radius: 6px;

          img {
            margin-bottom: 23px;
          }

          .text {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
            @media screen and (min-width: $laptopWidth ) {
              font-weight: 500;
            }
          }

          transition: all 0.5s;
        }
      }
    }
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    padding: 0 20px;
    cursor: pointer;
    @media screen and (min-width: $laptopWidth ) {
      position: absolute;
      top: 50%;
      width: 113%;
      left: 50%;
      transform: translate(-50%, 30px);
    }

    .control {
      width: 36px;
      height: 36px;
      border: 1px solid $mainColor;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/slider-arrow.svg);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center center;
      &:last-child {
        transform: rotate(180deg);
      }
    }
  }

  .control-status {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 80%;
    margin: auto;
    flex: 0;
    @media screen and (min-width: $laptopWidth ) {
      display: none;
    }

    .control-status__item {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #F5F5F7;
      transition: all 0.2s ease-in-out;

      &.active {
        background-color: $mainColor;
      }
    }
  }
}