.info-tables {
  margin-top: 45px;
  margin-bottom: 77px;
  &_flex {
    background-color: #f8f8f8;
    gap: 76px;
    .conditions-wrapper {
      box-shadow: 0px 0px 9px 1px #8388831A;
      display: none;
      background-color: #fff;
      flex: 0.5;
      position: relative;
      border-radius: 0 500px 500px 0;
      padding: 12px 32px 28px;
      @media screen and (min-width: $laptopWidth) {
        display: block;
      }
      h3 {
        font-weight: 600;
        font-size: 19px;
        line-height: 34px;
        letter-spacing: 0;
        padding-left: 49px;
      }
      .bonus {
        position: absolute;
        right: 0;
        top: -30px;
        width: 118px;
        height: 118px;
      }
      .conditions-item {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        color: #372F2C;
      }
    }
    .info-table {
      flex: 0.5;
      padding: 12px 13px 21px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media screen and (min-width: $laptopWidth) {
        padding: 16px 0;
        padding-right: 77px;
      }
      .table-row {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        div:first-child {
          flex: 1;
        }
        &.highlighted {
          &:first-child {
            border-bottom: 1px solid #8566FF7D;
            padding-bottom: 19px;
            @media screen and (min-width: $laptopWidth) {
              border: none;
              padding-bottom: 0;
            }
          }
          @media screen and (min-width: $laptopWidth) {
            color: #F88C29;
          }
        }
      }
    }
    button {
      border: none;
      border-radius: 5px;
      background-color: #FD6D21;
      color: #fff;
      padding: 17px 10px;
      display: block;
      text-align: center;
      width: 100%;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 1px;
      @media screen and (min-width: 1203px) {
        font-size: 18px;
      }
    }
  }
}
