.info-tables {
  &_flex {
    background-color: #f8f8f8;
    gap: 76px;
    .conditions-wrapper {
      background-color: #8566ff;
      flex: 0.5;
      position: relative;
      border-radius: 0 500px 500px 0;
      padding: 12px 32px 28px;
      .bonus {
        position: absolute;
        right: 0;
        top: -30px;
        width: 118px;
        height: 118px;
      }
      .conditions-item {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        color: #fff;
      }
    }
  }
}
