@use 'generic/variables' as *;

footer {
  background-color: #F4F8F5;
  padding-top: 30px;
  padding-bottom: 30px;
  position: initial;
  @include desktop {
    padding: 80px 0;
  }
  .logo {
    margin-bottom: 30px;
    @include desktop {
      width: 133px;
      margin-bottom: 40px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include desktop {
      gap: unset;
    }

    li {
      &.active a {
        color: $primaryColor;
        text-decoration: underline;
      }
      a {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #000;
        text-decoration: none;
        @include desktop {
          font-size: 24px;
        }
      }
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .footer-right {
      text-align: right;
      @include desktop {
        text-align: left;
      }
      .footer-social {
        display: none;
        @include desktop {
          margin-top: 19px;
          display: flex;
          img {
            width: 22px;
          }
        }
      }
    }
    
  }
  
  .footer-bottom {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    color: #9B9B9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      font-size: 24px;
      justify-content: end;
      .footer-social {
        display: none;
      }
    }
  }
  .footer-social {
    display: flex;
    gap: 18px;
  }
}