// // Fonts================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700);

body {
  background-color: #fff;
  color: #141232;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}
p,li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
}
.flex-box {
  display: flex;
  flex-direction: column;
}
.between {
  display: flex;
  justify-content: space-between;
}
.cta-button {
  background: #f85459;
  border-radius: 4px;
  border: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  width: 100%;
  transition: transform 150ms ease;
  text-decoration: none;
  display: inline-grid;
}
.cta-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.center {
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #222222;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #01163E;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #222222;
}
.bold-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
}
.flex-srtict {
  display: flex;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
.bold {
  font-weight: 700;
}
b {
  font-weight: 600;
}
.contact-item {
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  text-align: center;
  p {
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 17px;
  }
  input {
    border: 2px solid #cccfd0;
    border-radius: 4px;
    padding: 15px 21px;
    margin-bottom: 10px;
    width: 100%;
  }
  label {
    position: relative;
    span {
      position: absolute;
      text-align: left;
      left: 7px;
      top: -10px;
      background-color: #fff;
      padding: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #222222;
    }
  }
  button {
    margin-top: 10px;
  }
}
@media screen and (max-width: $laptopWidth ) {
  .hide-mobile {
    display: none!important;
  }
}
@media screen and (min-width: $laptopWidth ) {
  .container {
    max-width: 1124px;
    margin: auto;
    padding: 0;
  }
  .flex-box {
    flex-direction: row;
  }
  .cta-button {
    width: auto;
    &.large {
      width: 381px;
    }
  }
  .full-width {
    width: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 46px;
    line-height: 56px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }

  .cta-button {
    padding: 13px 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  .hide-desctop {
    display: none!important;
  }
  .contact-item {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
    h3 {
      font-size: 30px;
    }
    input {
      margin-bottom: 0;
      width: 339px;
    }
    button {
      margin-top: 0;
    }
  }
}
