@use 'generic/variables' as *;
@import url(https://fonts.googleapis.com/css?family=Instrument+Sans:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue:regular,500,600,700);

body {
  background-color: #fff;
  color: #141232;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.between {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #141232;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #222222;
}

.full-width {
  width: 100%;
}

.hide-mobile {
  display: none;
}

.pagination {
  ul {
    display: flex;
    justify-content: center;
    gap: 9px;
    list-style: none;
    @include desktop {
      gap: 12px;
    }
    li {
      a {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 12px;
        font-weight: 600;
        font-size: 16px;
        color: rgba(155, 155, 155, 1);
        text-decoration: none;
        @include desktop {
         width: 55px;
         height: 50px;
         border-radius: 20px;
         font-size: 20px;
        }
        &.is-active {
          color: $primaryColor;
          border: 2px solid rgba(155, 155, 155, 1)
        }
      }
    }
  }
}

@include desktop {
  .container {
    max-width: 1160px;
    margin: auto;
    padding: 0;
    position: relative;
  }

  .flex-box {
    flex-direction: row;
  }

  h1 {
    font-weight: 500;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: -0.04em;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h2 {
    font-size: 46px;
    line-height: 56px;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }

  .mobile-break {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desctop {
    display: none;
  }
}
