@import url(https://fonts.googleapis.com/css?family=Instrument+Sans:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Helvetica+Neue:regular,500,600,700);

body {
  background-color: #fff;
  color: #141232;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
}
.flex-box {
  display: flex;
  flex-direction: column;
}
.between {
  display: flex;
  justify-content: space-between;
}
.center {
  text-align: center;
}
h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #141232;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #222222;
}
.full-width {
  width: 100%;
}

.hide-mobile {
  display: none;
}


input[type='range'] {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
  // Track styles - WebKit (Chrome, Safari)
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(
      to right,
      #459179 0%,
      #459179 var(--range-progress, 50%),
      #d9d9d9 var(--range-progress, 50%),
      #d9d9d9 100%
    );
    border-radius: 4px;
  }

  // Track styles - Firefox
  &::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
  }

  // Filled area for Firefox
  &::-moz-range-progress {
    background: #459179;
    height: 8px;
    border-radius: 4px;
  }

  // Track styles - IE/Edge
  &::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  // Filled area for IE/Edge
  &::-ms-fill-lower {
    background: #459179;
    border-radius: 4px;
  }

  &::-ms-fill-upper {
    background: #d9d9d9;
    border-radius: 4px;
  }

  // Thumb (button) styles - WebKit
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: #459179;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -12px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 4px 0px #00000040;
  }

  // Thumb (button) styles - Firefox
  &::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: #459179;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 0px #00000040;
  }

  // Thumb (button) styles - IE/Edge
  &::-ms-thumb {
    width: 32px;
    height: 32px;
    background: #459179;
    border: 4px solid #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #00000040;
  }
}

input[type='checkbox'] {
  width: 32px;
  height: 32px;
  background: rgba(244, 248, 245, 1);
  border: 2px solid var(--Grey, rgba(217, 217, 217, 1));
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 6px;
  &:checked {
    background: #E8961D;
  }
}


@media screen and (min-width: 1240px) {
  .container {
    max-width: 1160px;
    margin: auto;
    padding: 0;
  }
  .flex-box {
    flex-direction: row;
  }
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 46px;
    line-height: 56px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  .mobile-break {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
  .hide-desctop {
    display: none;
  }
}
