/* stylelint-disable block-no-empty */
@use 'generic/variables' as *;

.header-wrapper {
  height: 50px;
  z-index: 1;
  position: relative;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    padding-top: 20px;
    max-width: $bp-desktop;
    margin: auto;
  }

  .header-left {
    img {
      width: 90px;
      @include desktop {
        width: 125px;
      }
    }
  }

  .header-center {
    display: none;

    @include desktop {
      display: block;
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      background-color: $superLightGrey;
      padding: 10px 20px;
      border-radius: 12px;

      li {
        a {
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          text-decoration: none;
          color: #000000F5;
        }
      }
    }
  }

  .header-right {
    .search-wrapper {
      display: none;
      @include desktop {
        display: block;
      }

      input[type="text"] {
        display: none;
      }

      img {}
    }

    .burger-wrapper {
      @include desktop {
        display: none;
      }
    }
  }
}

.mobile-nav {
  display: none;

  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
  }

  .mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .logo {
      height: auto;
      max-height: 32px;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 35px;

      img,
      .close-menu {
        cursor: pointer;
      }
    }
  }

  .mobile-nav-menu {
    padding: 30px 40px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 25px;

      li {
        a {
          text-decoration: none;
          color: #000;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }
}

/* stylelint-enable block-no-empty */