.top-banner {
  background: #4e35c4;
  color: #fff;
  padding: 23px 17px;
  margin-bottom: 31px;
  @media screen and (min-width: 1249px) {
    margin-bottom: 63px;
  }
  .flex-box {
    flex-wrap: wrap;
    column-gap: 100px;
    @media screen and (min-width: 1249px) {
      align-items: center;
      position: relative;
    }
  }
  .text {
    @media screen and (min-width: 1249px) {
      flex: 1;
    }
    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 11px;
      @media screen and (min-width: 1249px) {
        font-size: 50px;
        line-height: 60px;
      }
      span {
        color: #ffd000;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
  .banner-img {
    margin-bottom: 19px;
  }
  .button {
    @media screen and (min-width: 1249px) {
      position: absolute;
      bottom: 113px;
    }
  }
}

.summary {
  margin-bottom: 30px;
  .summary-wrapper {
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: #fff;
    padding: 25px 27px;
    border-radius: 15px;
    text-align: center;
    @media screen and (min-width: 1249px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 21px;
    }
    .summary-item {
      position: relative;
      margin-bottom: 100px;
      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        position: relative;
        width: fit-content;
        margin: auto;
        margin-bottom: 12px;
        span {
          font-size: 26px;
          font-weight: 900;
          line-height: 31.2px;
          color: #4f35c4;
          padding-right: 10px;
        }
        img {
          position: absolute;
          left: -20px;
        }
      }
      .text-arrow {
        position: absolute;
        bottom: -50px;
        font-family: Grape Nuts;
        font-size: 26px;
        font-weight: 400;
        line-height: 24.7px;
        text-align: center;
        left: 0;
        rotate: 6deg;
        @media screen and (min-width: 1249px) {
          bottom: unset;
          top: 114px;
          left: -192px;
          font-size: 33px;
          line-height: 39.6px;
        }
        &:last-child {
          left: unset;
          right: 0;
          rotate: 348deg;
          bottom: -80px;
          @media screen and (min-width: 1249px) {
            right: unset;
            left: -177px;
            top: unset;
            bottom: 40px;
            rotate: 11deg;
          }
          img {
            right: -16px;
            top: -60px;
            @media screen and (min-width: 1249px) {
              transform: scale(-1, 1);
              right: 22px;
              top: -83px;
              rotate: 35deg;
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          top: -13px;
          left: 47px;
          background-image: url(../img/minus.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 23.05px;
          height: 5px;
        }
        img {
          position: absolute;
          right: -36px;
          top: -30px;
          @media screen and (min-width: 1249px) {
            top: 23px;
            right: -50px;
            rotate: 15deg;
          }
        }
      }
      &:last-child {
        .text-arrow {
          bottom: -80px;
          left: 40px;
          @media screen and (min-width: 1249px) {
            left: unset;
            right: -170px;
            bottom: 90px;
            top: unset;
            rotate: 348deg;
          }
          &::before {
            top: -30px;
            left: 30px;
            background-image: url(../img/plus.svg);
            width: 26.13px;
            height: 25px;
          }
          &:last-child {
            left: unset;
            right: 71px;
            rotate: 348deg;
            bottom: -90px;
            @media screen and (min-width: 1249px) {
              bottom: unset;
              top: 146px;
              right: -177px;
            }
            img {
              right: -60px;
              left: unset;
              top: -90px;
              transform: none;
              rotate: unset;
              @media screen and (min-width: 1249px) {
                right: unset;
                left: -35px;
                rotate: 356deg;
                transform: scale(-1, 1);
                top: -29px;
              }
            }
          }
          img {
            right: unset;
            left: -10px;
            top: -50px;
            transform: scale(-1, 1);
            rotate: 65deg;
            @media screen and (min-width: 1249px) {
              transform: none;
              rotate: 337deg;
              left: -40px;
              top: -80px;
            }
          }
        }
      }
    }
    .devider {
      font-family: Grape Nuts;
      font-size: 33px;
      font-weight: 400;
      line-height: 39.6px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 1249px) {
        position: relative;
        top: -45px;
        img {
          position: absolute;
          rotate: 253deg;
          bottom: -46px;
          width: 100%;
        }
      }
    }
  }
}

.cta {
  background-image: url(../img/unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 15px;
  padding: 22px;
  margin-bottom: 33px;
  @media screen and (min-width: 1249px) {
    padding: 44px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    background-position: bottom;
    margin-bottom: 54px;
  }
  h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    margin-bottom: 21px;
  }
  p {
    line-height: 24px;
    margin-bottom: 31px;
    @media screen and (min-width: 1249px) {
      margin-bottom: 0;
    }
  }
  .button {
    padding: 10px 29px;
  }
}

.why {
  margin-bottom: 41px;
  @media screen and (min-width: 1249px) {
    margin-bottom: 66px;
  }
  .why-wrapper {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0 20px;
    @media screen and (min-width: 1249px) {
      flex-direction: row;
      gap: 48px;
      width: 996px;
      margin: auto;
    }
    .why-item {
      box-shadow: 0px 4px 15px 0px #00000026;
      border-radius: 15px;
      padding: 0 18px 23px;
      text-align: center;
      @media screen and (min-width: 1249px) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 14px 23px;
      }
      .img-wrapper {
        @media screen and (min-width: 1249px) {
          height: 245px;
        }
        img {
          margin-bottom: 36px;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: 12px;
        @media screen and (min-width: 1249px) {
          font-size: 18px;
          font-weight: 700;
          line-height: 21.6px;
        }
      }
      p {
        text-align: left;
        font-weight: 500;
        @media screen and (min-width: 1249px) {
          font-size: 16px;
          line-height: 19.2px;
        }
        b {
          color: #4f35c4;
        }
      }
    }
  }
}

.titles {
  margin-bottom: 62px;
  h2 {
    @media screen and (min-width: 1249px) {
      margin-bottom: 14px;
    }
    b {
      color: #4f35c4;
    }
  }
  .subtitle {
    text-align: center;
    margin-bottom: 47px;
    @media screen and (min-width: 1249px) {
      margin-bottom: 76px;
    }
  }
  .titles-wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-bottom: 44px;
    @media screen and (min-width: 1249px) {
      flex-direction: row;
      margin-bottom: 66px;
    }
    .titles-item {
      margin: auto;
      img {
        margin-bottom: 12px;
      }
      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #4f35c4;
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    a {
      width: 100%;
      @media screen and (min-width: 1249px) {
        width: auto;
      }
    }
  }
}
