@use 'generic/variables' as *;

.top-banner {
  padding-top: 130px;
  padding-bottom: 130px;
  background: linear-gradient(180deg, #459179 0%, #357964 100%);
  position: relative;
  margin-top: -50px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 295px;
    height: 437px;
    background-image: url(../img/top-banner-bg.png);
    background-size: contain;
  }

  h1 {
    color: #fff;
    margin-bottom: 8px;

    span {
      color: $secondaryColor;
    }
  }

  .subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 40px;
  }

  .button {
    display: inline-block;
    background-color: $secondaryColor;
    border-radius: 20px;
    padding: 12px 43px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: #fff;
    margin-bottom: 6px;
  }

  .note {
    small {
      font-family: Helvetica Neue;
      font-weight: 400;
      font-size: 10px;
      line-height: 100%;
      color: #f5fff7;
      opacity: 0.5;
    }
  }
}

.offers {
  padding-top: 40px;
  .filters {
    .range-filters {
      background-color: #f4f8f5;
      padding: 8px;
      border-radius: 20px;
      .range-filters-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .filter {
          background-color: #fff;
          padding: 8px 20px;
          border-radius: 20px;
          .filter-header {
            display: flex;
            justify-content: space-between;
            line-height: 100%;
            margin-bottom: 14px;
            margin-top: 8px;
            div {
            }

            .amount {
              font-weight: 600;
              span {
                border: 1px solid var(--Grey, rgba(217, 217, 217, 1));
                padding: 4px 15.5px;
                border-radius: 12px;
                margin-right: 8px;
              }
            }
          }

          .filter-footer {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.02em;
            div {
            }
          }
          &.period-filter {
            padding-bottom: 19px;
            input[type='range'] {
              &::-webkit-slider-runnable-track {
                background: linear-gradient(
                  to right,
                  #e8961d 0%,
                  #e8961d var(--range-progress, 50%),
                  #d9d9d9 var(--range-progress, 50%),
                  #d9d9d9 100%
                );
              }
              &::-moz-range-progress {
                background: #e8961d;
              }
              &::-ms-fill-lower {
                background: #e8961d;
              }
              &::-webkit-slider-thumb {
                background: #e8961d;
              }
              &::-moz-range-thumb {
                background: #e8961d;
              }
              &::-ms-thumb {
                background: #e8961d;
              }
            }
          }
        }

        .apply-filter {
          button {
            background-color: $primaryColor;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 20px;
            width: 100%;
            padding: 10px;
          }
        }
      }
    }

    .sorting-filters {
      margin-top: 8px;
      background-color: #f4f8f5;
      padding: 8px;
      border-radius: 20px;
      text-align: center;
      .free-filter {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: rgba(20, 31, 27, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      .sorting {
        font-size: 12px;
        line-height: 100%;
        color: rgba(155, 155, 155, 1);
        display: flex;
        flex-direction: column;
        gap: 8px;
        &.dropdown {
          select {
            border: 2px solid var(--Grey, rgba(217, 217, 217, 1));
            background: rgba(244, 248, 245, 1);
            font-size: 16px;
            font-weight: 500;
            padding: 14px 16px;
            border-radius: 12px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url(../img/vector.svg);
            background-repeat: no-repeat;
            background-position: right 16px center;
            background-size: 13px 8px;
            option {
            }
          }
        }
      }
    }
  }

  .pagination {
  }
}

.why {
  .container {
    h2 {
      span {
      }
    }

    .why-wrapper {
      .why-item {
        .why-item-icon {
          img {
          }
        }

        .why-item-content {
          h3 {
          }

          p {
          }
        }
      }
    }
  }
}

.posts {
  .container {
    h2 {
    }

    .posts-wrapper {
      .posts-item {
        a {
          img {
          }

          .posts-item-content {
            p {
            }

            .posts-item-date {
            }
          }
        }
      }
    }

    .subscribe {
      h3 {
      }

      form {
        .flex {
          input[type='text'] {
          }

          input[type='email'] {
          }

          button[type='submit'] {
          }
        }

        .checkbox {
          input[type='checkbox'] {
          }

          label {
            a {
            }
          }
        }
      }
    }
  }
}

.faq {
  .container {
    h2 {
    }

    .faq-accordion {
      .faq-accordion-item {
        .faq-accordion-item-header {
          h3 {
          }
        }

        .faq-accordion-item-content {
          p {
          }
        }
      }
    }
  }
}

/* stylelint-enable block-no-empty */
