@use 'generic/variables' as *;

.top-banner {
  padding-top: 130px;
  padding-bottom: 130px;
  background: linear-gradient(180deg, #459179 0%, #357964 100%);
  position: relative;
  margin-top: -50px;
  overflow: hidden;

  @include desktop {
    padding-top: 163px;
    padding-bottom: 137px;
  }

  .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -110px;
    width: 295px;
    height: 437px;
    background-image: url(../img/top-banner-bg.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 0 101%;

    @include desktop {
      background-size: 100%;
      background-position: right;
      top: 52%;
      right: 0;
      transform: translateY(-50%);
      width: 439px;
      height: 651px;
    }
  }

  h1 {
    color: #fff;
    margin-bottom: 8px;
    letter-spacing: -0.04em;

    @include desktop {
      margin-bottom: 20px;
    }

    span {
      color: $secondaryColor;
    }
  }

  .subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 40px;

    @include desktop {
      font-size: 32px;
      margin-bottom: 33px;
    }
  }

  .flex {
    @include desktop {
      display: flex;
      gap: 33px;
      align-items: center;
    }
  }

  .button {
    display: inline-block;
    background-color: $secondaryColor;
    border-radius: 20px;
    padding: 12px 43px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    color: #fff;
    margin-bottom: 6px;

    @include desktop {
      font-size: 32px;
    }
  }

  .note {
    small {
      font-family: Helvetica Neue;
      font-weight: 400;
      font-size: 10px;
      line-height: 100%;
      color: #f5fff7;
      opacity: 0.5;

      @include desktop {
        font-size: 16px;
        color: $white;
        opacity: 1;
      }
    }
  }
}

.offers {
  padding-top: 40px;
  margin-bottom: 60px;

  @include desktop {
    padding-top: 80px;
    margin-bottom: 100px;
  }

  .filters {
    margin-bottom: 40px;

    @include desktop {
      max-width: 980px;
      margin: auto;
      margin-bottom: 56px;
    }


    .range-filters {
      background-color: #f4f8f5;
      padding: 8px;
      border-radius: 20px;

      @include desktop {
        margin-bottom: 24px;
      }

      .range-filters-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include desktop {
          flex-direction: row;
          justify-content: space-between;
        }

        .filter {
          background-color: #fff;
          padding: 8px 20px;
          border-radius: 20px;

          @include desktop {
            flex: 1;
          }

          .filter-header {
            display: flex;
            justify-content: space-between;
            line-height: 100%;
            margin-bottom: 14px;
            margin-top: 8px;

            @include desktop {
              font-size: 20px;
            }

            .amount {
              font-weight: 600;
              display: flex;
              align-items: center;

              span {
                border: 1px solid var(--Grey, rgba(217, 217, 217, 1));
                border-radius: 12px;
                margin-right: 8px;
                text-align: center;
              }

              #amount {
                display: block;
                width: 94px;
                padding: 4px 15.5px;

                @include desktop {
                  padding: 4px 8px;
                }
              }

              #period {
                padding: 4px 8px;
                width: 39px;
              }

            }
          }

          .filter-footer {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: 0.02em;

            @include desktop {
              font-size: 12px;
            }
          }

          &.period-filter {
            padding-bottom: 19px;

            input[type='range'] {
              &::-webkit-slider-runnable-track {
                background: linear-gradient(to right,
                    $secondaryColor 0%,
                    $secondaryColor var(--range-progress, 50%),
                    #d9d9d9 var(--range-progress, 50%),
                    #d9d9d9 100%);
              }

              &::-moz-range-progress {
                background: $secondaryColor;
              }

              &::-ms-fill-lower {
                background: $secondaryColor;
              }

              &::-webkit-slider-thumb {
                background: $secondaryColor;
              }

              &::-moz-range-thumb {
                background: $secondaryColor;
              }

              &::-ms-thumb {
                background: $secondaryColor;
              }
            }
          }
        }

        .apply-filter {
          button {
            background-color: $primaryColor;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 20px;
            width: 100%;
            padding: 10px;

            @include desktop {
              height: 100%;
              width: 191px;
              font-size: 32px;
              letter-spacing: 0;
            }
          }
        }
      }
    }

    .sorting-filters {
      margin-top: 8px;
      background-color: #f4f8f5;
      padding: 8px;
      border-radius: 20px;
      text-align: center;

      @include desktop {
        display: flex;
        justify-content: space-between;
        padding: 8px 8px 8px 29px;
      }

      .free-filter {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: rgba(20, 31, 27, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        @include desktop {
          font-size: 16px;

          input {
            margin-left: 20px;
            margin-right: 12px;
          }
        }
      }

      .sorting {
        font-size: 12px;
        line-height: 100%;
        color: rgba(155, 155, 155, 1);
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include desktop {
          flex-direction: row;
          align-items: center;
          font-size: 16px;
          color: #141F1B;
        }

        &.dropdown {
          select {
            border: 2px solid var(--Grey, rgba(217, 217, 217, 1));
            background: rgba(244, 248, 245, 1);
            font-size: 16px;
            font-weight: 500;
            padding: 14px 16px;
            border-radius: 12px;
            -webkit-appearance: none;
            appearance: none;
            background-image: url(../img/vector.svg);
            background-repeat: no-repeat;
            background-position: right 16px center;
            background-size: 13px 8px;

            @include desktop {
              width: 292px;
              font-size: 20px;
            }

            option {}
          }
        }
      }
    }
  }

  .pagination {}
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 84%;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 40px;

  @include desktop {
    font-size: 64px;
    margin-bottom: 60px;
  }

  span {
    color: $secondaryColor;
  }
}

.why {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 100px;
  }

  .why-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 50px;
      column-gap: 74px;
    }

    .why-item {
      text-align: center;

      @include desktop {
        flex: 45%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 24px;
      }

      .why-item-icon {
        img {
          width: 80px;
          height: 80px;
          margin-bottom: 12px;

          @include desktop {
            width: 120px;
            height: 120px;
            margin-bottom: 0;
          }
        }
      }

      .why-item-content {
        @include desktop {
          flex: 1;
        }

        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          margin-bottom: 8px;

          @include desktop {
            flex: 1;
          }
        }

        p {
          @include desktop {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.posts {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 100px;
  }

  .container {
    background-color: #F4F8F5;
    padding-bottom: 30px;
    padding-top: 50px;

    @include desktop {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .posts-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 40px;

      @include desktop {
        padding: 0 54px;
        margin-bottom: 60px;
        flex-direction: row;
        gap: 26px;
      }

      .posts-item {
        @include desktop {
          flex: 1;
        }

        a {
          text-decoration: none;

          img {
            width: 100%;
            margin-bottom: 16px;
          }

          .posts-item-content {
            p {
              color: #000;
              font-weight: 500;
              font-size: 16px;
              line-height: 110%;
              margin-bottom: 16px;
            }

            .posts-item-date {
              font-size: 12px;
              line-height: 100%;
              letter-spacing: 0.02em;
              color: #141F1B;
            }
          }
        }
      }
    }

    .subscribe {
      @include desktop {
        padding: 0 100px;
      }

      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        margin-bottom: 16px;

        @include desktop {
          font-size: 32px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

.faq {
  margin-bottom: 65px;

  @include desktop {
    margin-bottom: 100px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.04em;
    margin-bottom: 30px;

    @include desktop {
      font-size: 64px;
      margin-bottom: 60px;
    }
  }

  .faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include desktop {
      gap: 8px;
    }

    .faq-accordion-item {
      background: #EBEBEB;
      color: #000;
      border-radius: 12px;
      overflow: hidden;
      transition: background-color 200ms ease, color 200ms ease;
      @include desktop {
        border-radius: 20px;
      }
  

      .faq-accordion-item-header {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px 44px 16px 16px;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        line-height: 110%;

        @include desktop {
          padding: 36px 41px;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
        }

        // plus/minus icon on the right using two bars
        &::after {
          content: "";
          position: absolute;
          right: 16px;
          top: 12px;
          height: 14px;
          width: 14px;
          background-image: url(../img/open-acc.svg);
          background-repeat: no-repeat;
          border-radius: 2px;
          transition: transform 200ms ease, opacity 200ms ease;

          @include desktop {
            top: 16px;
            right: 21px;
            height: 18px;
            width: 18px;
          }
        }
      }

      .faq-accordion-item-content {
        padding: 0 16px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 250ms ease, padding-top 200ms ease, padding-bottom 200ms ease, color 200ms ease;

        p {
          margin: 0;
          padding-bottom: 16px;
          color: inherit;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          @include desktop {
            font-size: 20px;
            line-height: 100%;
            padding: 0 28px 25px;
          }
        }
      }

      &.open {
        background: #459179;
        color: #fff;

        .faq-accordion-item-header {
          &::after {
            background-image: url(../img/close-acc.svg);
            width: 11px;
            height: 11px;
            @include desktop {
              right: 21px;
              height: 18px;
              width: 18px;
            }
          }
        }

        .faq-accordion-item-content {
          padding-top: 0;
          padding-bottom: 12px;
          max-height: 500px; // enough for typical content
        }
      }
    }
  }
}

/* stylelint-enable block-no-empty */