$mainColor: #8566FF;
$ctaColor: #F85459;

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin list {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 18px;
    line-height: 120%;
    &::before {
      content: '';
      display: inline-block;
      position: initial;
      width: 8px;
      height: 8px;
      margin: 0 20px 3px 0;
      border-radius: 50%;
      background: #ff5151;
      z-index: -1;
    }
  }
}

@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  [dir=rtl] & {
    #{$property}: $rtl-value;
  }
}

.sidebar {
  @include rtl(float, left, right);
}
