.offers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .offer-wrapper {
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 20px;
    padding: 12px 29px 20px;
    &--top {
    }
    .logo-wrapper {
      display: flex;
      align-items: center;
      gap: 17px;
      img {
      }
      .offer-description {
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.02em;
      }
    }
    .flex {
      display: flex;
      align-items: center;
      border-top: 1px solid var(--Grey, rgba(217, 217, 217, 1));
      padding: 4px 0;
      .title {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: rgba(155, 155, 155, 1);
        flex: 1;
      }
      .content {
        flex: 1;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        span {
          font-size: 16px;
        }
        small {
          font-weight: 400;
          font-size: 10px;
          line-height: 100%;
          letter-spacing: 0.02em;
        }
      }
      &.amount {
        .title {
        }
        .content {
          span {
          }
        }
      }
      &.period {
        .title {
        }
        .content {
          span {
          }
        }
      }
      &.rrso {
        padding: 11px 0;
        .title {
        }
        .content {
        }
      }
      &.approval {
        padding: 11px 0;
        .title {
        }
        .content {
        }
      }
      &.rating {
        .title {
        }
        .content {
          .rating-stars {
            img {
            }
          }
          b {
          }
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      .button {
        
      }
      a {
      }
    }
  }
}
