.book-flex {
  @media screen and (min-width: 1249px) {
    display: flex;
    gap: 45px;
  }
  .book-wrapper {
    border-bottom: 1px solid #828282;
    margin-bottom: 19px;
    @media screen and (min-width: 1249px) {
      flex: 1;
      border-bottom: none;
      margin-bottom: 66px;
    }
    .book-info {
      box-shadow: 0px 4px 15px 0px #00000040;
      border-radius: 10px;
      padding: 9px 10px;
      padding-bottom: 135px;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      margin-bottom: 36px;
      @media screen and (min-width: 1249px) {
        flex-direction: row;
        gap: 31px;
        padding: 27px 36px 38px;
        height: 511px;
      }
      .img-wrapper {
        img {
          width: 100%;
          @media screen and (min-width: 1249px) {
            height: 100%;
          }
        }
      }
      .book-title {
        @media screen and (min-width: 1249px) {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .book-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          @media screen and (min-width: 1249px) {
            font-size: 20px;
            line-height: 26.4px;
          }
          div {
            display: flex;
            align-items: center;
            gap: 5px;
          }
          .share {
            position: absolute;
            right: 10px;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 38px;
            overflow: hidden;
            padding: 12px 14px;
            cursor: pointer;
            transition: 0.2s all;
            @media screen and (min-width: 1249px) {
              align-items: flex-start;
              top: 16px;
              left: 670px;
              right: none;
            }
            ul {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 14px;
              align-items: end;
              @media screen and (min-width: 1249px) {
                top: 16px;
                left: 670px;
                right: none;
                align-items: start;
              }
              a {
                text-decoration: none;
                color: #828282;
                font-size: 16px;
                font-weight: 400;
                line-height: 21.12px;
                display: flex;
                align-items: center;
                gap: 3px;
              }
            }
            &:hover {
              box-shadow: 0px 4px 4px 0px #00000040;
              background-color: #ffffff;
              border-radius: 10px;
              height: 190px;
              @media screen and (min-width: 1249px) {
                width: 193px;
              }
            }
          }
        }
        h1 {
          font-size: 28px;
          font-weight: 600;
          line-height: 33.6px;
          margin-bottom: 15px;
          color: #3d3b40;
          @media screen and (min-width: 1249px) {
            font-size: 30px;
            line-height: 36px;
          }
        }
        .author {
          font-size: 20px;
          font-weight: 400;
          line-height: 26.4px;
          color: #4f4f4f;
          margin-bottom: 20px;
        }
        .button-wrapper {
          position: absolute;
          bottom: 17px;
          width: calc(100% - 20px);
          @media screen and (min-width: 1249px) {
            position: relative;
            bottom: 0;
            width: auto;
          }
          .time-to-read {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 22px;
            @media screen and (min-width: 1249px) {
              font-size: 20px;
              line-height: 26.4px;
            }
          }
          .button {
            font-size: 16px;
          }
        }
      }
    }
    .book-summary {
      @media screen and (min-width: 1249px) {
        h2 {
          font-size: 45px;
          line-height: 54px;
        }
        h3 {
          font-size: 30px;
          line-height: 36px;
        }
      }
      h2,
      h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
        text-align: left;
        margin-bottom: 20px;
      }
      p {
        line-height: 21.12px;
        margin-bottom: 22px;
        @media screen and (min-width: 1249px) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column-reverse;
    @media screen and (min-width: 1249px) {
      flex-direction: column;
      width: 407px;
      gap: 46px;
    }
    .sidebar-item {
      padding-bottom: 30px;
      border-bottom: 1px solid #828282;
      margin-bottom: 21px;
      @media screen and (min-width: 1249px) {
        border-bottom: unset;
        box-shadow: 0px 4px 15px 0px #00000040;
        padding: 22px 25px;
        border-radius: 10px;
        margin-bottom: 0;
        &.sidebar-slider {
          height: 511px;
        }
      }
      h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 26.4px;
        color: #4f4f4f;
        margin-bottom: 14px;
      }
    }
    .categories {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 18px;
    }
  }
}

.leave-review {
  margin-bottom: 72px;
  @media screen and (min-width: 1249px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-form-wrapper {
    display: none;
    position: absolute;
    box-shadow: 0px 4px 15px 0px #00000040;
    background-color: #fff;
    padding: 61px 19px 23px;
    width: 345px;
    border-radius: 10px;
    z-index: 10;
    @media screen and (min-width: 1249px) {
      width: 884px;
      padding: 36px 57px;
    }
    h2 {
      color: #4f35c4;
      margin-bottom: 33px;
      text-transform: uppercase;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 28px;
      input {
        border: none;
        border-bottom: 1px solid #4f35c4;
        &::placeholder {
          color: #4f35c4;
          opacity: 1;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          text-transform: uppercase;
        }
      }
      textarea {
        border: none;
        background: #4f35c41a;
        padding: 6px 13px;
        resize: none;
        &::placeholder {
          color: #4f35c4;
          opacity: 1;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          text-transform: uppercase;
        }
      }
      .button {
        font-size: 16px;
        @media screen and (min-width: 1349px) {
          margin: auto;
        }
      }
    }
    .close {
      position: absolute;
      right: 20px;
      top: 17px;
      cursor: pointer;
    }
  }
}
