.slider {
  margin-top: 100px;
  .slider-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 478px;
    width: 1121px;
    margin: auto;
    .slider-body {
      position: absolute;
      display: flex;
      .slider-item {
        width: 236px;
        height: 478px;
        max-width: 100vw;
        padding: 30px;
        position: absolute;
        left: 0;
        transition: all 0.5s;
        .slider-item__body {
          height: 100%;
          background-color: #165216;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 29px;
          font-weight: 500;
          transition: all 0.5s;
          &.black {
            background-color: black;
          }
          &.purple {
            background-color: purple;
          }
          &.grey {
            background-color: grey;
          }
          &.yellow {
            background-color: yellow;
          }
        }
      }
    }
  }
  .slider-controls {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    .control {
      width: 70px;
      background-color: purple;
      padding: 5px;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
  }
}
