.slider-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px;
  max-width: 500px;
  margin: auto;
  @media screen and (min-width: 1249px) {
    max-width: 1145px;
  }
  .slider-body {
    position: absolute;
    display: flex;
    height: 500px;
    overflow: hidden;
    .slider-item {
      padding: 0 27px;
      position: absolute;
      left: 0;
      transition: all 0.5s;
      @media screen and (min-width: 1249px) {
        padding: 0 25px;
      }
      .slider-item__body {
        width: 236px;
        height: 478px;
        margin: auto;
        img {
          margin-bottom: 12px;
        }
        .title {
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
          color: #4f35c4;
        }
        .author {
          margin-bottom: 12px;
        }
        .button {
          font-size: 16px;
          padding: 10px 0;
        }
      }
    }
  }
}
.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin: auto;
  position: relative;
  top: 0;
  width: 236px;
  margin-bottom: 36px;
  @media screen and (min-width: 1249px) {
    width: 1250px;
    top: -304px;
    margin-bottom: 0;
  }
  cursor: pointer;
  .control {
    width: 70px;
    background-color: purple;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
}
