/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/* Variables
--------------------------------------------- */
@import "generic/variables";

/* Mixins
--------------------------------------------- */
@import "mixins";

/* General
--------------------------------------------- */
@import "general";

/* Header
--------------------------------------------- */
@import "header";

/* Footer
--------------------------------------------- */
@import "footer";

/* Main Page
--------------------------------------------- */
@import "main";

/* Slider
--------------------------------------------- */
@import "slider";
