/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/* Variables
--------------------------------------------- */
@import "generic/variables";

/* Mixins
--------------------------------------------- */
@import "mixins";

/* General
--------------------------------------------- */
@import "general";

/* Header
--------------------------------------------- */
@import "header";

/* Footer
--------------------------------------------- */
@import "footer";

/* Bikfish
--------------------------------------------- */
@import "bikfish-ek";



// /* Friend
// --------------------------------------------- */
// @import "friend";

// /* importr
// --------------------------------------------- */
// @import "importr";

// /* Main Page
// --------------------------------------------- */
// @import "main";

// /* Calculator
// --------------------------------------------- */
// @import "calculator";

// /* Faq
// --------------------------------------------- */
// @import "faq";

// /* About
// --------------------------------------------- */
// @import "about";

// /* How it works
// --------------------------------------------- */
// @import "hiw";

